.drinksCardsContainer {
  width: 100%;
  height: auto;
}
.carousel {
  display: flex;
  width: auto;
  animation: scroll 45s linear infinite; /* Adjust animation speed as needed */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
